
html, body {
  background-color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  overflow-x: hidden;
  width: 100%;
  padding: 0px;
  margin: 0;
}
#header {
  text-align: center;
  background-color: #e3e8e8;
  margin-bottom: 6px;
  padding-bottom: 8px;
  margin-top: 0px;
  width: 100%;
}
.header-p {
  width: 70%;
  margin: auto;
  text-align: center;
}
h1, h2 {
  font-family: 'PT sans';
}
h1 {
  margin-bottom: 0px;
}
p {
  font-family: 'Work Sans';
}
#menu-left {
  position: absolute;
  width: 270px;
  height: 100%;
  overflow: auto;
  border: solid 2px #d1d1d1;
  border-radius: 10px;
  padding: 6px;
  margin-left: 10px;
}
button {
  text-align: left;
  font-weight: bold;
  background: #ffffff;
  cursor: pointer;
  margin-top: 1px;
  border-radius: 6px;
}
button:hover {
  background-color: #52ba52;
}
.menu-button {
  width: 100%;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 16px;
  height: 40px;
  background-color: #ffffff;
}
.sub-menu-button {
  width: 240px;
  height: 35px;
  font-size: 14px;
  margin-left: 30px;
}
.sub-menu-button-full {
  width: 255px;
  height: 35px;
  font-size: 14px;
  margin-left: 15px;
}
.dropdown-content {
  display: none;
  position: relative;
}
.dropdown-content a {
  color: #000000;
  text-decoration: none;
  padding: 3px;
  display: block;
}
a:hover {
  text-decoration: underline;
}
.show {display:block;}
.fa-caret-down {
  color: #000000;
  float: right;
  padding-right: 8px;
}

 /* Content */

.content {
  margin-left: 290px;
  padding-left: 20px;
  border: none;
}
